{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Registration</title>
    <link rel="stylesheet" href="{% static 'css/register.css' %}" />
  </head>
  <body>
    <header>
      <a href="{% url 'homepage' %}"
        ><img src="{% static 'assets/logo/logo.svg' %}" alt="logo"
      /></a>
    </header>
    <main>
      <h2>Registration Form</h2>
      <form  method="post">
        {% csrf_token %}
        <input type="text" name="name" />
        <label class="label" for="date">Name</label>
        <input type="date" name="dob" required />
        <label class="label" for="date">Date of Birth</label>
        <input type="email" name="email" />
        <label class="label" for="email">Email</label>
        <input type="password" name="password" for="passwd" />
        <label class="label" for="passwd">Password</label>
        <input
          type="image"
          src="{% static 'assets/icons/registration.svg' %}"
          value="Submit"
        />
      </form>
    </main>
  </body>
</html>
