@import url('./base/Base.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--Title);
}

body {
    margin: 1% 5%;
}

.logo {
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo a img {
    width: 20%;
    outline: var(--Green) 5px solid;
    border-radius: 50%;
}